body {
    background-color: #faf4ed;
    font-family: 'Montserrat', sans-serif;
    color: #2A273F;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main button {
    border-radius: 15px;
    padding: 15px;
    color: #fffaf3;
}

header {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

header h1 {
    text-align: center;
}

#better_notes {
    grid-column: 2/-1;
}

nav {
    background-color: #E0DEF4;
    grid-column: 1/2;
    grid-row: 1/-1;
}

main {
    grid-column: 2/-1;
    grid-row: 2/5;
    display: grid;
    grid-template-rows: repeat(2, 0.5fr) 2fr 0.5fr;
}

#top_main {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
}

#about {
    grid-column: 9/10;
}

#docs {
    grid-column: 10/11;
}

#top_button {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

#new_note {
    grid-row: 2/3;
    margin: 0px 15px;
}

#dark {
    grid-column: 6/-1;
    grid-row: 2/3;
    margin: 0px 15px;
}

#note_taker {
    grid-row: 3/4;
    padding: 15px;
}

#bottom_button {
    grid-row: 4/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

#save {
    grid-column: 5/6;
    grid-row: 2/3;
    margin: 0px 15px;
}

#cancel {
    grid-column: 6/-1;
    grid-row: 2/3;
    margin: 0px 15px;
}

#take_note {
    padding: 15px;
    border: 2px solid #eb6f92;
    width: 95%;
}

footer {
    grid-column: 2/-1;
    grid-row: 5/-1;
    text-align: center;
}

.new_note_save {
    background-color: #286983;
}

.dark_theme {
    background-color: #575279;
}

.cancel_button {
    background-color: #b4637a;
}