body {
    background-color: #faf4ed;
    font-family: 'Montserrat', sans-serif;
    color: #286983;
}

.new_note {
    background-color: #286983;
    color: #fffaf3;
}

.dark_theme {
    background-color: #575279;
    color: #fffaf3;
}