body {
    background-color: #faf4ed;
    font-family: 'Montserrat', sans-serif;
    color: #2A273F;
}

nav {
    background-color: #E0DEF4;
}

main button {
    border-radius: 15px;
    padding: 15px;
}

.new_note_save {
    background-color: #286983;
    color: #fffaf3;
}

.dark_theme {
    background-color: #575279;
    color: #fffaf3;
}

.cancel {
    background-color: #b4637a;
    color: #fffaf3;
}